USE [Wobbadex]
GO
/****** Object:  Table [dbo].[pokemon]    Script Date: 4/23/2020 8:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokemon](
	[pokedex_number] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[abilities] [nvarchar](255) NOT NULL,
	[type1] [nvarchar](50) NOT NULL,
	[type2] [nvarchar](50) NULL,
	[hp] [int] NOT NULL,
	[attack] [int] NOT NULL,
	[defense] [int] NOT NULL,
	[sp_attack] [int] NOT NULL,
	[sp_defense] [int] NOT NULL,
	[speed] [int] NOT NULL,
	[base_egg_steps] [int] NOT NULL,
	[base_happiness] [int] NOT NULL,
	[capture_rate] [int] NOT NULL,
	[classfication] [nvarchar](100) NOT NULL,
	[experience_growth] [int] NOT NULL,
	[height_m] [real] NULL,
	[weight_kg] [real] NULL,
	[percentage_male] [real] NULL,
	[generation] [int] NOT NULL,
	[is_legendary] [bit] NOT NULL,
	[against_bug] [real] NOT NULL,
	[against_dark] [real] NOT NULL,
	[against_dragon] [real] NOT NULL,
	[against_electric] [real] NOT NULL,
	[against_fairy] [real] NOT NULL,
	[against_fight] [real] NOT NULL,
	[against_fire] [real] NOT NULL,
	[against_flying] [real] NOT NULL,
	[against_ghost] [real] NOT NULL,
	[against_grass] [real] NOT NULL,
	[against_ground] [real] NOT NULL,
	[against_ice] [real] NOT NULL,
	[against_normal] [real] NOT NULL,
	[against_poison] [real] NOT NULL,
	[against_psychic] [real] NOT NULL,
	[against_rock] [real] NOT NULL,
	[against_steel] [real] NOT NULL,
	[against_water] [real] NOT NULL,
 CONSTRAINT [PK_pokemon] PRIMARY KEY CLUSTERED 
(
	[pokedex_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team]    Script Date: 4/23/2020 8:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[pokemon_1] [int] NOT NULL,
	[pokemon_2] [int] NULL,
	[pokemon_3] [int] NULL,
	[pokemon_4] [int] NULL,
	[pokemon_5] [int] NULL,
	[pokemon_6] [int] NULL,
 CONSTRAINT [PK_team] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 4/23/2020 8:11:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [binary](64) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_pokemon] FOREIGN KEY([pokemon_1])
REFERENCES [dbo].[pokemon] ([pokedex_number])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_pokemon]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_pokemon1] FOREIGN KEY([pokemon_2])
REFERENCES [dbo].[pokemon] ([pokedex_number])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_pokemon1]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_pokemon2] FOREIGN KEY([pokemon_3])
REFERENCES [dbo].[pokemon] ([pokedex_number])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_pokemon2]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_pokemon3] FOREIGN KEY([pokemon_4])
REFERENCES [dbo].[pokemon] ([pokedex_number])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_pokemon3]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_pokemon4] FOREIGN KEY([pokemon_5])
REFERENCES [dbo].[pokemon] ([pokedex_number])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_pokemon4]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_pokemon5] FOREIGN KEY([pokemon_6])
REFERENCES [dbo].[pokemon] ([pokedex_number])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_pokemon5]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD  CONSTRAINT [FK_team_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[team] CHECK CONSTRAINT [FK_team_user]
GO
