html{
    background-color: blue;
    
}

.container{
    background-color: green;
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.content-area{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main-area{
    width: 40%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
    
}

.sidebar{
    width: 40%;
    float: right;
}

.fix{
    clear:both;
}

.group:before,
.group:after {
    content: "";
    display; table; 
    
}

.group:after {
    clear: both;
}

.grou {
    zoom: 1;
}